$parrafoDesktop:18px;
$parrafoMobile:20px;
$h1Desktop:55px;
$h1Mobile:40px;
$cuarenta:40px;
$cincuenta:50px;
$treinta:30px;
$veinticinco:25px;
$centro:center;
$izquierda:start;
$derecha:end;


.titulo-navbar{font-size: $cincuenta;}
.titulo__miembros{font-size: $cincuenta;}
.tituloizq{font-size: $treinta;}
.redes{font-size: $veinticinco;}
